.logo {
    padding-top: 12px;
    padding-bottom: 12px;
}

.logo img {
    width: 190px;
}

.form-inline {
    padding-top: 13px;
}

.form-inline .form-group .sr-only {
    border-radius: 10px;
}

.quick-links {
    padding-top: 13px;
}

.quick-links .nav-item {
    padding-left: 20px;
}

.quick-links .nav-item3 {
    position: absolute;
    top: 14px;
    left: 162px;
}

.quick-links p {
    position: absolute;
    top: 6px;
    left: -11px;
    background-color: crimson;
    border-radius: 50%;
    color: #fff;
}

.search-header .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    border-radius: 20px;
}

.quick-links .cart-num {
    margin-top: 8px;
    margin-left: -25px;
    margin-bottom: 1rem
}

.quick-links .cart-num p {
    background-color: crimson;
    color: white;
    border-radius: 70%;
    font-weight: bold;
}

.nav .btn {
    border-color: grey;
    border-width: 0.5px;
    border-radius: 30px;
}

.nav .btn:hover {
    border-color: crimson;
    background-color: crimson;
    color: white;
}

.nav .nav-item .btn-cart-num a {
    position: absolute;
}

.banner {
    background-image: url('../images/banner.jpg');
    background-size: cover;
}

.banner-text {
    text-align: center;
    float: right;
    margin-right: 20%;
    padding-top: 110px;
    padding-bottom: 110px;
}

.banner h3 {
    color: rgb(19, 73, 178);
    font-size: 40px;
}

.btn-primary {
    background-color: rgb(221, 16, 16);
    border-radius: 20px;
    border: none;
    text-color: #ffffff;
    font-size: 11px;
}

.banner h2 {
    color: rgb(51, 51, 51);
    font-size: 55px;
    font-weight: bold;
}

.btn-primary {
    background: #d9121f;
    border-radius: 19px;
    border: none;
    color: #fff;
    font-size: 11px;
    padding: 11px 38px;
    font-weight: bold;
}

.banner p {}

.category {
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
}

.category-1 {
    background-image: url(../images/category-1.jpg);
}

.category-2 {
    background-image: url(../images/category-2.jpg);
}

.category-3 {
    background-image: url(../images/category-3.jpg);
    height: 213px;
}

.category-4 {
    background-image: url(../images/category-4.jpg);
}

.category-5 {
    background-image: url(../images/category-5.jpg);
}

.category-6 {
    background-image: url(../images/simple-style.jpg);
}

.category-7 {
    background-image: url(../images/modern-sweaters.jpg);
}

.category-8 {
    background-image: url(../images/back-pack.jpg);
}

.category .category-text {
    text-align: center;
    padding-left: 40px;
    width: 200px;
}

.category2 .category-text {
    text-align: center;
    padding-left: 40px;
    padding-top: 150px;
    width: 400px;
    height: 350px;
}

.category2 .category-text2 {
    padding-left: 100px;
    width: 400px;
    height: 350px;
    float: right;
    text-align: center;
    padding-top: 150px;
}

.category h3 {
    font-size: 23px;
    color: #000;
    padding-bottom: 10px;
}

.categorydown {
    padding-top: 20px;
}

.categorydown2 .category-text1 {
    padding-right: 100px;
    float: right;
    height: 300px;
    text-align: center;
    height: 300px;
    padding-top: 150px;
}

.categorydown2 .category-text2 {
    padding-top: 150px;
    width: 200px;
    height: 300px;
    color: #fff;
    padding-left: 200px;
}

.categorydown2 .category-text3 {
    padding-left: 20px;
    width: 200px;
    height: 300px;
    float: left;
    text-align: center;
    padding-top: 150px;
}

.category2 .btn-secondary {
    background-color: #fff;
    color: #000;
}

.categorydown2 .btn-secondary {
    background-color: #fff;
    color: #000;
}

.btn-secondary {
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding: 6px 17px;
    font-size: 11px;
}

.navigationbar {
    padding-top: 20px;
    text-align: center;
    padding-left: 600px;
}

.pro-detail {}

.pro-detail h4 {}

.pro-detail h5 a {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.pro-detail h5 a:hover {
    color: rgb(219, 183, 19);
}

.pro-detail p {
    font-size: 14px;
    font-weight: bold;
    color: rgb(217, 18, 31);
}

.btn-cart {
    font-size: solid 1px #cacaca;
    font-weight: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.button-cart a:hover {
    background-color: crimson;
    border-color: slateblue;
}

.btn-cart i {
    font-size: 20px;
}

.pro-detail h5 {
    padding-top: 20px;
}

.btn-cart i {
    font-size: 20px;
}

.product {
    position: relative;
}

.pro-highlight {
    position: absolute;
    top: 0;
    /* bottom */
    left: 0;
    /* right */
}

.pro-varient,
.pro-discount {
    background-color: #d9121f;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: bold;
}

.pro-discount {
    background-color: blue;
}

.pro-actions {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    display: none;
}

.product:hover .pro-actions {
    display: block;
}

.pro-actions .btn {
    background: #fff;
    color: #000;
    border-radius: 50%;
    padding: 7px;
    width: 36px;
    height: 36px;
    margin-bottom: 6px;
    font-size: 18px;
}

.pro-actions .btn:hover {
    background-color: crimson;
    color: #fff;
}

.section-title {}

section title {}

.latest-products2 h2 {
    padding: 40px;
}

.latest-products2 {
    padding-bottom: 40px;
}

.blog {
    background-color: #eeeeee;
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog h3 {
    padding-bottom: 40px;
}

.blog-card {
    position: relative;
}

.blog-card .card-img-top {}

.blog-card .blog-category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.blog-card .blog-category span {
    background-color: #d9121f;
    color: #fff;
    display: inline-block;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 12px;
}

.blog-card .blog-comments {
    margin-top: -40px;
    text-align: center;
}

.blog-image {
    height: 230px;
    overflow: hidden;
}

.blog-card .blog-comments span {
    background-color: #fff;
    color: #000;
    display: inline-block;
    padding: 6px 20px;
}

.card-body .card-title a {
    color: black;
}

.card-body .card-title a:hover {
    color: crimson;
}

.banner-highlight {
    position: absolute;
    top: 0;
    /* bottom */
    left: 0;
    /* right */
}

.search {
    background-image: url(../images/form-background.jpg);
    height: 240px;
}

.search .heading {
    color: #fff;
    padding: 20px;
}

.btn .btn-secondary3 {
    background-color: #fff;
    color: crimson;
}

.blog-card .card-text {}

.blog-card .card-title {}

.custom-select-form .custom-select1 {
    padding-right: 50px;
    padding-top: 6px;
    position: absolute;
    top: 3853px;
    left: 440px;
}

.custom-select-form .custom-select2 {
    padding-right: 50px;
    padding-top: 6px;
    position: absolute;
    top: 3853px;
    left: 677px;
}

.custom-select-form .custom-select3 {
    padding-right: 50px;
    padding-top: 6px;
    position: absolute;
    top: 3853px;
    left: 898px;
}

.custom-select-form .btn-primary {
    position: absolute;
    top: 3850px;
    left: 1132px;
}